<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 box-shadow1">
            <div class="card">
                <img src="images/shoe5.jpg" class="card-img-top">
                <div class="card-body">
                    <h5>Yellow Nike classic shoe</h5>
                    <h5>$33.95</h5>
                    <button class="btn btn-info"><i class="fa fa-cart-plus" aria-hidden="true"></i>Add to
                        cart
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-3 box-shadow1">
            <div class="card">
                <img src="images/shoe6.jpg" class="card-img-top">
                <div class="card-body">
                    <h5>Classic Nike converse</h5>
                    <h5>$23.79</h5>
                    <button class="btn btn-info"><i class="fa fa-cart-plus" aria-hidden="true"></i>Add to
                        cart
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-3 box-shadow1">
            <div class="card">
                <img src="images/shoe7.jpg" class="card-img-top">
                <div class="card-body">
                    <h5>Men's tilden cap oxford shoe</h5>
                    <h5>$47.32</h5>
                    <button class="btn btn-info"><i class="fa fa-cart-plus" aria-hidden="true"></i>Add to
                        cart
                    </button>
                </div>
            </div>
        </div>


        <div class="col-md-3 box-shadow1">
            <div class="card">
                <img src="images/shoe8.jpg" class="card-img-top">
                <div class="card-body">
                    <h5>Nike converse classic shoe</h5>
                    <h5>$33.95</h5>
                    <button class="btn btn-info"><i class="fa fa-cart-plus" aria-hidden="true"></i>Add to
                        cart
                    </button>
                </div>
            </div>
        </div>
    </div>


 </div>

<!--FEMALE SHOE SECTION-->
 <div class="container mt-5">
    <div class="row">
        <div class="col-md-3 box-shadow1">
            <div class="card">
                <img src="images/fshoe1.jpg" class="card-img-top">
                <div class="card-body">
                    <h5>Women's lanette pump</h5>
                    <h5>$93.56</h5>
                    <button class="btn btn-info"><i class="fa fa-cart-plus" aria-hidden="true"></i>Add to
                        cart
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-3 box-shadow1">
            <div class="card">
                <img src="images/fshoe2.jpg" class="card-img-top">
                <div class="card-body">
                    <h5>Women's ballet flat shoe</h5>
                    <h5>$31.70</h5>
                    <button class="btn btn-info"><i class="fa fa-cart-plus" aria-hidden="true"></i>Add to
                        cart
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-3 box-shadow1">
            <div class="card">
                <img src="images/fshoe3.jpg" class="card-img-top">
                <div class="card-body">
                    <h5>Jewel women's upton</h5>
                    <h5>$110.00</h5>
                    <button class="btn btn-info"><i class="fa fa-cart-plus" aria-hidden="true"></i>Add to
                        cart
                    </button>
                </div>
            </div>
        </div>


        <div class="col-md-3 box-shadow1">
            <div class="card">
                <img src="images/fshoe4.jpg" class="card-img-top">
                <div class="card-body">
                    <h5>lifestride women's parigi pump</h5>
                    <h5>$25.43</h5>
                    <button class="btn btn-info"><i class="fa fa-cart-plus" aria-hidden="true"></i>Add to
                        cart
                    </button>
                </div>
            </div>
        </div>
    </div>


 </div>